[MASTER]
# Python code to add to the top of each file
init-hook='import sys; sys.path.append(".")'

# Add files or directories to the blacklist
ignore=CVS,.git,__pycache__,build,dist

# Use multiple processes to speed up Pylint (use "0" for auto)
jobs=0

# List of plugins to load
load-plugins=

# Allow loading of arbitrary C extensions
unsafe-load-any-extension=no

[MESSAGES CONTROL]
# Disable specific warnings
disable=C0111,  # missing-docstring
        C0103,  # invalid-name
        R0903,  # too-few-public-methods
        W0511,  # fixme
        R0913,  # too-many-arguments
        R0914,  # too-many-locals
        R0902   # too-many-instance-attributes

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

# Maximum number of lines in a module
max-module-lines=1000

# String used as indentation unit (2 spaces, 4 spaces, or tabs)
indent-string='    '

[BASIC]
# Regular expression which should only match function or class names
function-rgx=[a-z_][a-z0-9_]{2,50}$
class-rgx=[A-Z_][a-zA-Z0-9_]+$
argument-rgx=[a-z_][a-z0-9_]{2,30}$
variable-rgx=[a-z_][a-z0-9_]{2,30}$

# Good variable names which should always be accepted
good-names=i,j,k,ex,Run,_,id,up

[SIMILARITIES]
# Minimum lines number of a similarity
min-similarity-lines=4

# Ignore imports when computing similarities
ignore-imports=yes

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=numpy,tensorflow,torch,cv2,pygame

# List of classes names for which member attributes should not be checked
ignored-classes=SQLObject

[VARIABLES]
# A regular expression matching the name of dummy variables
dummy-variables-rgx=_$|dummy

# List of additional names to consider as builtins
additional-builtins=

[CLASSES]
# List of method names used to declare (i.e. assign) instance attributes
defining-attr-methods=__init__,__new__,setUp

[IMPORTS]
# Allow wildcard imports from modules that define __all__
allow-wildcard-with-all=no

[DESIGN]
# Maximum number of arguments for function / method
max-args=10

# Maximum number of locals for function / method body
max-locals=15

# Maximum number of return / yield for function / method body
max-returns=6

# Maximum number of statements in function / method body
max-statements=50

# Maximum number of parents for a class (see R0901).
max-parents=7

# Maximum number of attributes for a class (see R0902).
max-attributes=10

# Minimum number of public methods for a class (see R0903).
min-public-methods=1

# Maximum number of public methods for a class (see R0904).
max-public-methods=20 